page-sign-up {
    .icon-md-light {
        color: #ffffff;
        font-size: 1.9em;
        margin-left:10px;
    }

    .card-md {
        margin: 10px;
        border-radius: 2px;
        width: 91% !important;
        font-size: 1.4rem;
        background: #fff;
    }
}
