page-settings {

    .logo-profil{
        border-radius: 50%;
        width: 97px;
        height: 91px;
        margin-left: 119px;
        margin-top: 10%;
        background-color:#E9E9E9;
    }

    .icon-md-primary {
        color: #F8F8F8;
        margin-left: 29px;
        margin-top: 19px;
        font-size: 51px;
    }

    .icon-md-light {
        color: #ffffff;
        font-size: 1.9em;
        margin-left:10px;
    }

}
